.input_box {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "Muller";
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}

.input_wrapper {
  position: relative;
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
  }
}

.input {
  border: 1px solid #d5dae1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 64px;
  width: 100%;
  padding: 0 14px 0 46px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  font-family: "Muller";
  &::placeholder {
    color: #565656;
  }
}

.input_error {
  margin-top: 10px;
  color: #921100;
  font-size: 16px;
  font-weight: 500;
}
