.about {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 150px;
}

.inner {
  display: flex;
  flex-direction: column;
  .title {
    text-align: left;
    margin-bottom: 200px;
    transform: rotate(-8.5deg);
    position: relative;
    &:before {
      content: "";
      top: -70px;
      transform: translateX(230px);
      z-index: -1;
      position: absolute;
      background: url("../../../public/img/spot3.svg") no-repeat;
      background-size: 300px 300px;
      width: 300px;
      height: 300px;
    }
  }
  .item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      .image {
        order: 1;
      }
      .content {
        order: 0;
        justify-content: flex-end;
        img {
          right: unset;
          left: -15px;
        }
      }
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    .image {
      display: block;
      width: 745px;
      height: 394px;
      top: 0;
    }
    display: flex;
    .content {
      height: 394px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      img {
        right: -15px;
        position: absolute;
        pointer-events: none;
        user-select: none;
      }
      max-width: 640px;
      width: 100%;
    }
    &_title {
      font-family: "SpriteGraffiti";
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 16px;
    }
    &_txt {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.8;
    }
    .text {
      max-width: 541px;
    }
  }
}

@media (min-width: 0) and (max-width: 768px) {
  .about {
    margin-bottom: 120px;
  }

  .inner {
    .title {
      margin-bottom: 100px;
      &:before {
        content: "";
        top: -20px;
        transform: translateX(100px);
        z-index: -1;
        position: absolute;
        background: url("../../../public/img/spot3.svg") no-repeat;
        background-size: 100px 100px;
        width: 100px;
        height: 100px;
      }
    }
  }
}
